body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}

.container{
    margin:auto;
    width: 80%;
    overflow: hidden;
}

        /* header */
 
header{
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    border-bottom:1px solid rgb(255, 255, 255, 0.15);
}

header nav{
    
    float: right;
    margin-top: 30px;
}

nav ul{
    padding: 0px;
    margin: 5px;
    
}
header li{
    text-align: center;
    width: 115px;
    padding:5px 0px 27px 0px;
    list-style: none;
    float: right;
    box-sizing:border-box;

}


header a{
    
    
    padding:3px 5px 27px 5px;
    margin: 10px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-weight: 300;
    
    
    
}
header a:hover{
    font-weight:bold;
    border-bottom:3px solid white;
    transition:0.3s;
    box-sizing:border-box;
    
}

 .nav-heading{
    float: left;
    padding: 0;
    
}

.nav-heading h1{
    
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 400;
    padding: 0px;


}

        /* header end */
        
        /* section cover picture */

.showcase{
    width: 100%;
    height: 100vh;
    background: url('images/cover.jpg') no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    
}
.showcase .heading{
    
position: absolute;
bottom: 100px;

}
.showcase .heading h1{

    margin: 0 auto;
    font-size: 60px;
    font-weight:400;
    font-stretch:condensed;
}

.showcase .heading p{
    font-weight: lighter;
    font-size: 30px;
}

        /* section cover picture end*/

            /* portfolio section */
section{
    color: rgb(34, 34, 34);
}


section.portfolio .my-project{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;

    margin-top: 200px;
}
.portfolio .my-project h1{
    display: block;
    width: 100%;
    color: rgb(34, 34, 34);
    font-size: 40px;
    font-weight: 400;
}

section.portfolio .my-project div{
    
    width: 350px;
    height: 200px;
    background-color: rgb(44, 44, 44);
    margin: 10px auto;
}
section.portfolio .my-project div:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.assignment{
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
    margin-bottom: 100px;
    color: rgb(34, 34, 34);
    
}

.assignment > h1{
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    color: rgb(34, 34, 34);
    
}
.assignment .child-flex{
    
    width: 100%;
    height: 100%;
    margin:30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.assignment .text-box{
width: 300px;
height: 100px;

float: left;
}
.assignment .text-box h1{
    font-weight: 400;
    font-size: 18px;
    color: rgb(34, 34, 34);
    
}
.assignment .text-box p{
    font-weight: 300;
    font-weight: 20px;
}

.assignment .img-box{
    
    width: 500px;
    height:262;
    float: right;
}

    
.assignment .img-box img{
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}
.assignment img:hover{
    transform: scale(1.1);
    transition: 0.6s ease;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
    
}

            /* section me */

.mine{
    width: 100%;
    height: 510px;
    margin-top:100px;
    margin-bottom: 100px;
    
}
.mine .img-box{
    position:relative;
    left:20px;
    width: 60%;
    height: 510px;
    float: left;
    background-color: #a5a5a5;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.4);
   
}


.mine img{

    width:100%;
    position: relative;
    top: -70px;
    left: 10px;
    transform: rotate(4deg);
    
}

.mine .text-box{
    padding-left: 40px;
    padding-top:20px;
    width: 40%;
    height: 510px;
    float: right;
    box-sizing: border-box;
    font-size: 20px;
}

.mine .text-box h1{
    font-size: 40px;
    font-weight: 400;
    color:black;
}
.mine .text-box p:last-child{
    font-weight: 300;
    text-align: justify;
}


            /* footer */

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    color:white;
}

.main-footer{
width:100%;
display:flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
margin:auto;


}

.main-footer .flex-items{
width:33%;
height:200px;
margin: 25px auto;
}

#logo i{
    font-size: 80px;
    margin:50px 10px;
}


#information h3{
  margin-left: 40px;
  margin-top: 50px;
}

#information li{
 list-style: none;
 color: white;
 letter-spacing: 6px;
 font-weight: 300;
}

#social-links{
    font-size: 20px;
    
    margin-top: 80px;
    

}

#social-links i{
    color: rgb(194, 192, 192);
    cursor: pointer;
    margin:20px 3px;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(32, 32, 32);
}
#social-links i:hover{
    margin-top: 10px;
    transition: 0.3s ease-in-out;
    color: white;
    background-color:  rgb(59, 59, 59);
}



@media(max-width:760px){
    header .nav-heading, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
}

